@font-face {
  font-family: 'sell-icon';
  src:  url('../fonts/sell-icon.eot?1xkd6d');
  src:  url('../fonts/sell-icon.eot?1xkd6d#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?1xkd6d') format('truetype'),
    url('../fonts/sell-icon.woff?1xkd6d') format('woff'),
    url('../fonts/sell-icon.svg?1xkd6d#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-schedule:before {
  content: "\e8b5";
}
.icon-add:before {
  content: "\e145";
}
.icon-alarm_on:before {
  content: "\e858";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-enhanced_encryption:before {
  content: "\e63f";
}
.icon-filter_frames:before {
  content: "\e3de";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-supervisor_account:before {
  content: "\e8d3";
}

